.main-header-sb{
    padding-bottom:10px !important;
}
.csb__site-header__menu{
    border-radius: 20px !important;
}

.v-tab {
    background-color: #f8e4e7 !important;    /* couleur bouton (rose Chocovanille) */
    border-radius: 40px !important;          /* arrondi bouton */
    padding: 0.5rem 1.2rem !important;
    margin: 0.3rem !important;
    cursor: pointer !important;

    display: inline-flex !important;         /* pour centrer proprement */
    align-items: center !important;
    justify-content: center !important;

    max-width: 100% !important;              /* important pour ellipsis */
    overflow: hidden !important;
    text-overflow: ellipsis !important;

    transition: all 0.2s ease !important;
}

/* Hover moderne */
.v-tab:hover {
    background-color: #e9b9d4 !important;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15) !important;
}

/* Le span interne (texte du bouton) */
.v-tab span {
    color: #000 !important;
    font-size: .85rem !important;
    font-weight: 600 !important;

    white-space: nowrap !important;          /* ellipsis 1 ligne */
    overflow: hidden !important;
    text-overflow: ellipsis !important;

    max-width: 100% !important;
    display: block !important;
}
