/* DEBUG SERVICES 2025-11-27-01 */
.categories__cards span {
    color: white !important;
    font-size: .8rem !important;
    font-weight: bolder !important;

    /* Multi-line ellipsis (2 lignes) */
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    overflow: hidden !important;
}
